.films{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
    gap: 2rem;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-image: url("https://i.pinimg.com/736x/49/86/f0/4986f0b8f5b299eb1b1744373f3e690d.jpg"); */
    background-repeat: repeat;
    background-size: contain;
}

