/* p {
    color: olive;
} */

.nopet {
    background-color: thistle;
    margin: 1rem  0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba( 0, 0, 0, 0.24) 0px 3px 8px;
}

.pet {
    background-color: thistle;
    margin: 1rem 0.5rem;
    border-radius: 1rem;
    box-shadow: rgba( 0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
}

a {
    color: brown;
}