h1{
    color: olive;
}

.board{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.indv{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;

}